<div class="site-section pt-3 pt-pb-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="text-center text-uppercase">Signup Page</h2>
        </div>
      </div>
    </div>
    <div class="py-5 bg-light bg-white">
      <form (submit)="handleSubmit($event)" class="p-5">
        <div class="container">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 mb-5">
              <!-- Username -->
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="username">Username</label>
                  <input
                    type="text"
                    id="username"
                    class="form-control"
                    placeholder="Username"
                    [(ngModel)]="username"
                    name="username"
                  />
                  <p class="text-danger" *ngIf="errors.username">{{ errors.username }}</p>
                </div>
              </div>
              <!-- Password -->
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    placeholder="Password"
                    [(ngModel)]="password"
                    name="password"
                  />
                  <p class="text-danger" *ngIf="errors.password">{{ errors.password }}</p>
                </div>
              </div>
              <!-- Confirm Password -->
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="confirmpassword">Confirm Password</label>
                  <input
                    type="password"
                    id="confirmpassword"
                    class="form-control"
                    placeholder="Confirm Password"
                    [(ngModel)]="confirmPassword"
                    name="confirmPassword"
                  />
                  <p class="text-danger" *ngIf="errors.confirmPassword">{{ errors.confirmPassword }}</p>
                </div>
              </div>
              <!-- Submit Button -->
              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Submit" class="btn btn-info text-white px-4 py-2" />
                </div>
              </div>
              <!-- Message Display -->
              <div class="row form-group">
                <div class="col-md-12">
                  <p
                    [class.text-danger]="errors.server"
                    [class.text-success]="!errors.server"
                  >
                    {{ message }}
                  </p>
                  <p class="text-danger" *ngIf="errors.server">{{ errors.server }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  