<div class="site-section pt-3 pb-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center text-uppercase">Summary</h2>
        </div>
    </div>
</div>
<div class="site-section pt-1 pb-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="site-section-heading text-uppercase text-center font-secondary">Intro</h3>
                <p class="text-center">The report by Wharton and GBK Collective said that business leaders using Generative AI on a weekly basis jumped from 37% in 2023 to 72% in 2024. This reflects an important inflection in the adoption of AI across industries but particularly in slower-adopting categories such as HR and Marketing.</p>
                <div class="text-center" id="ai-line-chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="site-section pt-1 pb-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Overview</h3>
                <p>This data shows the incredible rise of Generative AI in workplace applications. The surging traction underlines its great potential for tasks ranging from data analysis to drafting documents. Full ROI and scaling remain challenging to achieve with sustainable applications.</p>
                <p> Reference : <a style="color:#16ccec;" href="https://ai.wharton.upenn.edu/">https://ai.wharton.upenn.edu/</a></p>
            </div>
        </div>
    </div>
</div>